<div class="sidebar d-flex flex-column" id="sidebar">
    <div class="logo px-3 py-4 text-center">
        <img src="../../assets/imgs/logo.png" class="logo-expanded img-fluid" alt="Logo Completa" />
        <img src="../../assets/imgs/logo-square.png" class="logo-collapsed img-fluid" alt="Logo Ícone" />
    </div>

    <ul class="nav flex-column mt-3" id="sidebar-menu">
        <li><a href="/pages/admin/dashboard.html" data-page="dashboard"><i class="bi bi-bar-chart"></i><span>Dashboard</span></a></li>
        <!-- <li><a href="usuarios.html" data-page="usuarios"><i class="bi bi-people"></i><span>Usuários</span></a></li> -->
        <li><a href="/pages/admin/messages.html" data-page="mensagens"><i class="bi bi-chat-left-text"></i><span>Mensagens</span></a></li>
        <li><a href="/pages/admin/rating.html" data-page="config"><i class="bi bi-star-half"></i><span>Avaliações</span></a></li>
        <li class="mt-auto">
            <a href="#" id="logout-button" class="text-danger"><i class="bi bi-box-arrow-right"></i><span>Sair</span></a>
        </li>
    </ul>
</div>